@{
// TODO #2.1- declare the ViewModel (outside of this @{ } block)
}

<table class="job-listing">
    @{ 
// TODO #2.2 - display the job fields, one per row (outside of this @{ } block)
    }
</table>