<h1>@ViewBag.Title</h1>
<h2>View All</h2>
<ul>
    @foreach (var column in ViewBag.columns) {
        <li>
            <a asp-controller="List" asp-action="Values" asp-route-column="@column">@column</a>
        </li>
    }
</ul>