@model TechJobs.ViewModels.JobFieldsViewModel

<h1>@Model.Title</h1>
<ul>
    @foreach (var column in Model.Columns) {
        <li>
            <a asp-controller="List" asp-action="Values" asp-route-column="@column">@column</a>
        </li>
    }
</ul>