@model TechJobs.ViewModels.JobFieldsViewModel

<h1>@Model.Title</h1>

<table>
@foreach (var field in Model.Fields)
{
    <tr>
        <td><a asp-controller="List" 
               asp-action="Jobs" 
               asp-route-column="@Model.Column" 
               asp-route-value="@field.Value">@field.Value</a></td>
    </tr>  
}   
</table>
