<h1>@ViewBag.title</h1>

<table>
@foreach (string item in ViewBag.items)
{
    <tr>
        <td><a asp-controller="List" asp-action="Jobs" asp-route-column="@ViewBag.column" asp-route-value="@item">@item</a></td>
    </tr>  
}   
</table>
