<h1>@ViewBag.title</h1>

<table>
@foreach (var item in ViewBag.items)
{
    <tr>
        <td><a asp-controller="List" asp-action="Jobs" asp-route-column="@ViewBag.column" asp-route-value="@item.Value">@item.Value</a></td>
    </tr>  
}   
</table>
